# THOR:
git+git://github.com/moeyensj/thor@89499012623f2b616f4a88098ec7278f31e1c027#egg=thor

pika
google-cloud-storage>=1.39.0
google-cloud-pubsub
google-cloud-secret-manager
google-api-python-client
colorama
paramiko
rich
