# THOR:
git+git://github.com/moeyensj/thor@9d8a274840cb3f8e2677c146f99f52874965392f#egg=thor

pika
google-cloud-storage>=1.39.0
google-cloud-pubsub
google-cloud-secret-manager
google-api-python-client
colorama
paramiko
rich
