# THOR:
git+https://github.com/moeyensj/thor@cc697a03739b8fe9f4c71f8b1840bb8bfaceb4c5#egg=thor

pika
google-cloud-storage>=1.39.0
google-cloud-pubsub
google-cloud-secret-manager
google-api-python-client
colorama
paramiko
rich
